* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color:#c7b0a8;
    line-height: 1.6;
}

/* CABEÇALHO */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 30px;
    background: rgba(255, 219, 185, 0.562);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

/* HERO COM VÍDEO */
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: -1;
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content p {
    margin: 15px 0;
    font-size: 1.2rem;
}

/* SEÇÕES */
.section {
    padding: 80px 20px;
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.gray {
    background: #f4f4f4;
}

/* SERVIÇOS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.card {
    padding: 30px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* FORMULÁRIO */
.form {
    max-width: 500px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input,
.form textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* RODAPÉ */
.footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.whatsapp-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 14px 32px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: all 0.3s ease;
    font-size: 16px;
}

/* Botão principal */
.btn-primary {
    background: #d8c6ba;
    color: #18130f;
}

.btn-primary:hover {
    background: #1ebe5d;
    transform: scale(1.05);
}

/* Botão secundário */
.btn-secondary {
    background: #d8c6ba;
    border: 2px solid #d8c6ba;
    color: #000000;
}

.btn-secondary:hover {
    background: #25d366;
    color: #fff;
    transform: scale(1.05);
}


.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
